
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            text-align: center;
            padding: 10px;
            background-color: #333;
            color: rgba(196, 164, 19, 0.767);
        }

        section {
            margin: 20px 0;
        }

        h2 {
            color: #3d7056;
        }

        p {
            line-height: 1.6;
            color: #3c7a7e;
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #333;
            color: rgb(152, 27, 168);
        }
    